body {
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  font-weight: 300;
}
.header {
  background-image: url(../images/i4\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}
.picture {
  padding-left: 52px;
}
.logo {
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-left: 53px;
  display: flex;
  text-align: center;
  color: white;
  cursor: pointer;
  /* position: fixed; */
}
#one {
  padding-left: 350px;
}
#two {
  padding-left: 70px;
}
#free {
  padding-left: 70px;
}
#four {
  padding-left: 70px;
}
#five {
  padding-left: 228px;
}
#six {
  padding-left: 70px;
}
.header p:hover {
  color: rgb(159, 154, 154);
}
.line {
  padding-left: 105px;
}
.center {
  background-color: #52616b;
  text-align: center;
}
.THE8 {
  max-width: 100%; /* Картинка будет уменьшаться до 100% ширины контейнера */
  height: auto;
  padding-top: 52px;
  /* padding-left: 5%; */
}
.X7 {
  max-width: 100%; /* Картинка будет уменьшаться до 100% ширины контейнера */
  height: auto;
  padding-top: 12px;

  width: 580px;
}
.THE5 {
  padding-top: 12px;
  padding-left: 1.5%;
  max-width: 100%; /* Картинка будет уменьшаться до 100% ширины контейнера */
  height: auto;
  /* padding-right: 12px;
  padding-top: 12px; */
  width: px;
  height: auto;
}
.be {
  color: #52616b;
}
.greenbmw {
  display: block;
  /* position: relative; */
  background-color: #52616b;
  /* height: auto; */
  min-width: 100%;
}

.greeen {
  display: block;
  min-width: 100%; /* Изображение не превышает ширину контейнера */
  height: auto;
  /* width: auto;  

  display: block;  
  margin: 0 auto;  */
  /* max-width: 100%;
  height: auto;
  display: block; */
}
.buttton-fon {
  box-sizing: border-box;
  min-height: 125px;
}
.Build {
  font-size: 29px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border-radius: 7px;
  color: white;
  background: #1e2022;
  width: 350px;
  height: 70px;
  margin-top: 28px;
  border: 1px solid white;
}
.yle {
  color: #52616b;
}
.nothing {
  padding-bottom: 0;
  background-color: #52616b;
  color: #52616b;
}
.last_photo {
  width: 100%; /* растягиваем картинку на всю ширину */
  height: auto; /* сохраняем пропорции */
  object-fit: cover; /* подстраиваем изображение */
  display: block; /* убираем нижний отступ изображения */
}
.footer {
  min-height: 360px;
  /* box-sizing: border-box; */
  padding: 60px 50px;
  /* padding-left: 50px;
  padding-top: 50px; */
  color: white;
  background-color: #1e2022;
  cursor: pointer;
}
.container {
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
.footer-col {
  width: 18%;
  padding: 0 15px;
}
.footer-col h4 {
  color: rgb(218, 218, 218);
  font-size: 27px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;

  font-weight: 400;
}
/* .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  background-color: #e91e63;
  box-sizing: border-box;
  width: 50px;
} */

.footer a {
  font-size: 16px;
  font-weight: 300;
}
.footer ul li:not(:last-child) {
  margin-bottom: 15px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  color: #bbbbbb;
  display: block;
  transform: all 0.3s ease;
}
h4 {
  font-weight: 300;
  font-size: 20px;
}

.footer li:hover {
  color: rgb(159, 154, 154);
  padding-left: 5px;
  transform: all 5s;
}
.footer h4:hover {
  color: rgb(159, 154, 154);
}

.social {
  padding-left: 50px;
}
.Social-title {
  font-size: 27px;
  font-weight: 400;
}
.Social h4 {
  color: rgb(218, 218, 218);
}
.Social-links img {
  padding-right: 5px;
  transition: filter 0.3s ease;
}
.Social-links img:hover {
  filter: brightness(0.7); /* Затемняет иконку при наведении */
}
@media (max-width: 1400px) {
  .greeen {
    max-width: 100%;
  }
}
@media (max-width: 1400px) {
  #one {
    padding-left: 35px;
  }
}
@media (max-width: 1320px) {
  .THE5.THE8.X7 {
    /* text-decoration: none; */
  }
}
@media screen and (max-width: 1200px) {
  #one,
  #two,
  #free,
  #four,
  #five,
  #six {
    padding-left: 60px;
  }

  .THE5 {
    height: 342px;
    width: 580px;
    padding-left: 5px;
  }
  .X7 {
    height: 342px;
    width: 580px;
    padding-left: 5px;
  }

  .Build {
    font-size: 24px;
    width: 310px;
    height: 78px;
    margin: 22px 0 0;
  }
  /* .footer {
  padding: 40px 20px;
}
.footer-col {
  width: 45%;
  margin-bottom: 20px;
} */
}
@media (max-width: 1174px) {
  .THE8 {
    box-sizing: border-box;
    width: 585px;
    height: 365px;
  }
  .X7 {
    box-sizing: border-box;
    width: 585px;
    height: 350px;
  }

  .THE5 {
    box-sizing: border-box;
    width: 585px;
    height: 365px;
  }
}
@media (max-width: 1000px) {
  .Build {
    height: 60px;
    font-size: 20px;
    width: 220px;
  }
  .THE8 {
    box-sizing: border-box;
    width: 585px;
    height: 365px;
  }
  .X7 {
    box-sizing: border-box;
    width: 585px;
    height: 350px;
  }

  .THE5 {
    box-sizing: border-box;
    width: 585px;
    height: 365px;
  }
}
@media (max-width: 930px) {
  .logo {
    font-weight: 500;
    color: #f5f5f5;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px 0px 0px 0px;
    flex-direction: column; /* Размещаем элементы вертикально */
    align-items: center;
    text-align: center;
  }
  #one,
  #two,
  #free,
  #four,
  #five,
  #six {
    padding: 0;
  }
  .picture {
    padding: 0;
  }
  .THE8 {
    box-sizing: border-box;
    width: 585px;
    height: 365px;
  }
  .X7 {
    box-sizing: border-box;
    width: 585px;
    height: 350px;
  }

  .THE5 {
    box-sizing: border-box;
    width: 585px;
    height: 365px;
  }
}
/* 2. Для экранов шириной до 768px (планшеты) */
@media (max-width: 830px) {
  .banner-text a {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 60vh; /* Уменьшаем высоту хедера */
  }
  .line {
    padding-left: 0;
    text-align: center;
  }
  .double {
    flex-direction: column; /* Карточки одна под другой */
  }

  .X7,
  .THE5,
  .THE8 {
    height: auto;
    width: 80%;
    margin: 0 auto;
  }

  .footer-col {
    width: 100%; /* Одна колонка в футере */
  }

  .Social h4 {
    padding: 0 15px;
  }
  .Social-links img {
    padding: 0 15px;
  }
  /* .THE8 {
    box-sizing: border-box;
    max-width: 585px;
    max-height: 365px;
  }
  .X7 {
    box-sizing: border-box;
    max-width: 585px;
    max-height: 350px;
  }

  .THE5 {
    box-sizing: border-box;
    max-width: 585px;
    max-height: 365px;
  } */
}
@media screen and (max-width: 768px) {
  .buttton-fon {
    min-height: 100px;
  }
  .Build {
    margin-top: 27px;
    height: 40px;
    font-size: 14px;
    width: 170px;
  }
}
/* 3. Для экранов шириной до 480px (мобильные устройства) */
@media screen and (max-width: 480px) {
  .Build {
    height: 46px;
    font-size: 13px;
    width: 130px;
  }
  .header {
    min-height: 60vh; /* Уменьшаем высоту хедера */
  }
  .banner-text {
    font-size: 24px; /* Уменьшаем шрифт текста в баннере */
    padding-left: 20px;
  }
  .Build {
    /* margin-left: calc(15vh);
    top: 155px;
    font-size: 7px;
    width: 150px;
    height: 20px; */
  }
  .footer h4 {
    font-size: 16px; /* Уменьшаем размер заголовков */
  }
  .footer a {
    font-size: 14px; /* Уменьшаем размер ссылок */
  }
}
@media (max-width: 360px) {
  .THE8 {
    box-sizing: border-box;
    height: 232px;
  }
  .X7 {
    height: 180px;
  }
  .THE5 {
    box-sizing: border-box;
    height: 180px;
  }
  .Build {
    font-size: 11px;
  }
}
